<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xmlns="http://java.sun.com/xml/ns/javaee" 
         xmlns:web="http://java.sun.com/xml/ns/javaee" 
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
         id="WebApp_ID" version="2.5">
  <display-name>test</display-name>
  <servlet>
    <description></description>
    <display-name>BuildEbook</display-name>
    <servlet-name>BuildEbook</servlet-name>
    <servlet-class>com.iBook.servlets.BuildEbook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuildEbook</servlet-name>
    <url-pattern>/BuildEbook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.iBook.servlets.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageUserAccounts</display-name>
    <servlet-name>ManageUserAccounts</servlet-name>
    <servlet-class>com.iBook.servlets.ManageUserAccounts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageUserAccounts</servlet-name>
    <url-pattern>/ManageUserAccounts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageBook</display-name>
    <servlet-name>ManageBook</servlet-name>
    <servlet-class>com.iBook.servlets.ManageBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageBook</servlet-name>
    <url-pattern>/ManageBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageDescriptors</display-name>
    <servlet-name>ManageDescriptors</servlet-name>
    <servlet-class>com.iBook.servlets.ManageDescriptors</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageDescriptors</servlet-name>
    <url-pattern>/ManageDescriptors</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageProfile</display-name>
    <servlet-name>ManageProfile</servlet-name>
    <servlet-class>com.iBook.servlets.ManageProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageProfile</servlet-name>
    <url-pattern>/ManageProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageTemplate</display-name>
    <servlet-name>ManageTemplate</servlet-name>
    <servlet-class>com.iBook.servlets.ManageTemplate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageTemplate</servlet-name>
    <url-pattern>/ManageTemplate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadBookSource</display-name>
    <servlet-name>UploadBookSource</servlet-name>
    <servlet-class>com.iBook.servlets.UploadBookSource</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadBookSource</servlet-name>
    <url-pattern>/UploadBookSource</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadCoverImage</display-name>
    <servlet-name>UploadCoverImage</servlet-name>
    <servlet-class>com.iBook.servlets.UploadCoverImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadCoverImage</servlet-name>
    <url-pattern>/UploadCoverImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateTextblock</display-name>
    <servlet-name>UpdateTextblock</servlet-name>
    <servlet-class>com.iBook.servlets.UpdateTextblock</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTextblock</servlet-name>
    <url-pattern>/UpdateTextblock</url-pattern>
  </servlet-mapping>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>IBook Editor</web-resource-name>
      <url-pattern>/editor/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
  <security-role>
    <role-name>admin</role-name>
  </security-role>
  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/editor/login.html</form-login-page>
      <form-error-page>/editor/login_failed.html</form-error-page>
    </form-login-config>
  </login-config>
</web-app>